{% load static %}
{% if not request.user.is_authenticated %}
  <meta http-equiv="refresh" content="0; url={% url 'login' %}" />>
{% else %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>OMSA | CWI - adminisrador</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'core/css/tabler.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-flags.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-payments.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-vendors.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/demo.min.css' %}">
    
  </head>
  <body  class=" layout-fluid">
    <div class="page">
      <!-- sidebar  -->
      <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
        <!-- sidebar title  -->
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <a href="/" style="text-decoration: none;">OMSA | CWI</a>
          </h1>
          <!-- sidebar menu -->
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
              <li class="nav-item">
                <a class="nav-link" href="/" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                  </span>
                  <span class="nav-link-title">
                    Inicio
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'obra:obra' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  </span>
                  <span class="nav-link-title">
                    Obras
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'operario:operario' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  </span>
                  <span class="nav-link-title">
                    Personal
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'herramienta:herramienta' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                  </span>
                  <span class="nav-link-title">
                    Equipos
                  </span>
                </a>
              </li>
              <hr/>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
                  </span>
                  <span class="nav-link-title">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                  </span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column">
                      <a class="dropdown-item" href="{% url 'profile' %}">Perfil</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </aside>
    
      <!-- content -->
      {% block content %}{% endblock %}    
      <!-- Libs JS -->
      <script src="{% static 'core/libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
      <script src="{% static 'core/libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
      <script src="{% static 'core/libs/jsvectormap/dist/maps/world.js' %}" defer></script>
      <script src="{% static 'core/libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>
      <!-- Tabler Core -->
      <script src="{% static 'core/js/tabler.min.js' %}" defer></script>
      <script src="{% static 'core/js/demo.min.js' %}" defer></script>
      {% block extrasjs %}{% endblock %}

    </div>
  </body>
</html>
{% endif %}