<div class="page-wrapper">
  <div class="container-xl">
  <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <p class="h3">
            <a href="{% url 'obra:obra' %}" style="color:#9D9D9D">Obras</a>
            <a style="color:#9D9D9D">/</a>
            <a href="#" class="text-dark">{{obra.obra}} </a>
          </p>
        </div>
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="btn-list">
            <a href="{% url 'obra:update' obra.obra_id %}" class="btn btn-primary d-none d-sm-inline-block" >
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Editar Obra
            </a>
            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-outline-secondary" href="{% url 'obra:detail' obra.obra_id %}">Datos de avance</a> 
            {% if request.path|slice:"11:" == "planilla" %}
              <a class="btn btn-outline-secondary active" href="{% url 'obra:planilla' obra.obra_id %}">Planilla</a> 
            {% else %} <a class="btn btn-outline-secondary" href="{% url 'obra:planilla' obra.obra_id %}">Planilla</a> {% endif %}
            {% if request.path|slice:"11:" == "vista" %} 
            <a class="btn btn-outline-secondary active" href="{% url 'obra:vista' obra.obra_id %}">Vista</a>
            {% else %} <a class="btn btn-outline-secondary" href="{% url 'obra:vista' obra.obra_id %}">Vista</a> {% endif %}
            {% if request.path|slice:"11:" == "montaje" %}
              <a class="btn btn-outline-secondary active" href="{% url 'obra:montaje' obra.obra_id %}">Montaje</a> 
            {% else %} <a class="btn btn-outline-secondary" href="{% url 'obra:montaje' obra.obra_id %}">Montaje</a> {% endif %}
            {% if request.path|slice:"11:" == "recepcion" %}
              <a class="btn btn-outline-secondary active" href="{% url 'obra:recepcion' obra.obra_id %}">Recepción</a> 
            {% else %} <a class="btn btn-outline-secondary" href="{% url 'obra:recepcion' obra.obra_id %}">Recepción</a> {% endif %}
            {% if request.path|slice:"11:" == "recursos" %}
              <a class="btn btn-outline-secondary active" href="{% url 'obra:recursos' obra.obra_id %}">Personal</a> 
            {% else %} <a class="btn btn-outline-secondary" href="{% url 'obra:recursos' obra.obra_id %}">Personal</a> {% endif %}

          </div>
        </div>
    </div>    