{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obras{% endblock %}
{% block content %}
{% include "operario/includes/submenu.html" %}
<link href="{% static 'core/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />

<style>
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m_title:first-letter {
  text-transform: uppercase
}
</style>

{% include "obra/includes/loader_1.html" %}
<div class="col-12">
  <div class="card mb-3">
      <form action="" method=POST>
          {% csrf_token %}
      <div class="card-header">
          <h3 class="card-title">Parte diario</h3>
          <button type="submit" class="btn btn-secondary btn-sm ms-auto m-2" >
            Guardar cambios
        </button>
      </div>
      <div class="table-responsive">
        <table id="example" class="table card-table table-vcenter text-nowrap table-hover datatable" width="100%">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Día</th>
                <th scope="col">% Pres</th>
                <th scope="col">% Carga</th>
                <th scope="col">Estado</th>
                <th scope="col">Cargar</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Día</th>
                <th scope="col">% Pres</th>
                <th scope="col">% Carga</th>
                <th scope="col">Estado</th>
                <th scope="col">Cargar</th>
            </tr>
          </tfoot>
          <tbody>
            
            
            {% for d, p, c in prom %}
                    <td>{{ d.fecha|date:"Y-m-d" }}</td>
                    <td class="m_title">{{ d.fecha|date:"l" }}</td>
                    <td>{{ p }} %</td>
                    <td>{{ c }} %</td>
                    <td>{% if d.estado %} Lab {% else %} No lab. {% endif %}</td>
                    <td>
                        <a href="{% url 'operario:parte' d.slug %}">Cargar</a>
                      </td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
  </div>
</div>



{% include "obra/includes/loader_2.html" %}
{% endblock %}

{% block extrasjs %}
<script src="{% static 'core/js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'core/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'core/js/obra_list.js' %}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript"></script>

<script type="text/javascript">
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>




{% endblock extrasjs %}

