{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>OMSA | CWI - Iniciar sesión</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'core/css/tabler.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-flags.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-payments.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-vendors.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/demo.min.css' %}">
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a style="text-decoration: none;">
              <img src="{% static 'core/img/logoomsa3.png' %}"  alt="OMSA - CWI" >
            </a>
        </div>
        {% if 'register' in request.GET %}
          <p style="color:green;" >Usuario registrado correctamente, ya puedes identificarte.</p>
        {% endif %}
        <form class="card card-md" action="" method="post">
          {% csrf_token %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Iniciar sesión</h2>
            {% if form.non_field_errors %}
              <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
            {% endif %}
            <div class="mb-3">
              <label class="form-label">Nombre de usuario</label>
              <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Nombre de usuario"/>
            </div>
            <div class="mb-2">
              <label class="form-label">
                Contraseña
                <span class="form-label-description">
                  <a href="{% url 'password_reset' %}">Olvide mi clave</a>
                </span>
              </label>
              <div class="input-group input-group-flat">
                <input type="password" name="password" required id="id_password" class="form-control" placeholder="Contraseña"/>
              </div>
            </div>
            <div class="form-footer">
              <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Libs JS -->
    <script src="{% static 'core/libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
    <script src="{% static 'core/libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
    <script src="{% static 'core/libs/jsvectormap/dist/maps/world.js' %}" defer></script>
    <script src="{% static 'core/libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>
    <!-- Tabler Core -->
    <script src="{% static 'core/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'core/js/demo.min.js' %}" defer></script>
  </body>
</html>

