{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>OMSA | CWI - Recuperar contraseña</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'core/css/tabler.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-flags.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-payments.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tabler-vendors.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/demo.min.css' %}">
    <style>.errorlist{color:red;}</style>
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="row mt-3">
          <div class="col-md-9">
            <div class="card card-md col-md-9 mx-auto mb-5">
              <div class="card-body">
                {% if validlink %}
                  <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Escriba la nueva contraseña</h3>
                    <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                    {{form.new_password1.errors}}
                    <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
                    {{form.new_password2.errors}}
                    <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
                    <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
                  </form>
                {% else %}
                  <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
                  <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <script src="{% static 'core/libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
    <script src="{% static 'core/libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
    <script src="{% static 'core/libs/jsvectormap/dist/maps/world.js' %}" defer></script>
    <script src="{% static 'core/libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>
    <!-- Tabler Core -->
    <script src="{% static 'core/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'core/js/demo.min.js' %}" defer></script>
  </body>
</html>
