<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Administrador
          </div>
          <h2 class="page-title">
            Personal
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="btn-list">
            <a href="{% url 'operario:create'%}" class="btn btn-primary d-none d-sm-inline-block">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Agregar personal  
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="card">
        <div class="card-body">
          {% if request.path == "/operario/" %}
            <a class="btn btn-outline-secondary active" href="{% url 'operario:operario' %}">Personal</a> 
          {% else %} <a class="btn btn-outline-secondary" href="{% url 'operario:operario' %}">Personal</a> {% endif %}
          {% if request.path|slice:"10:16"  == "fecha/" %}
            <a class="btn btn-outline-secondary active" href="{% url 'operario:fecha' %}">Carga</a> 
          {% else %} <a class="btn btn-outline-secondary" href="{% url 'operario:fecha' %}">Carga</a> {% endif %}
          {% if request.path|slice:"10:"  == "inactivo" %}
          <a class="btn btn-outline-secondary active" href="{% url 'operario:inactivo' %}">Personal inactivo</a> 
        {% else %} <a class="btn btn-outline-secondary" href="{% url 'operario:inactivo' %}">Personal inactivo</a> {% endif %}

        </div>
      </div>
    </div>    