{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obras{% endblock %}
{% block content %}

<style>
    .card {
      margin-top: 20px;
      margin-bottom: 10px;
    }
</style>

<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Listado
          </div>
          <h2 class="page-title">
            Obras en ejecución
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="btn-list">
            <a href="{% url 'obra:create'%}" class="btn btn-primary d-none d-sm-inline-block">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Agregar Obra Nueva
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        {% for obra in object_list|dictsort:'obra_id' %}
          <div class="col-md-2">
            <div class="card">
              <div class="card-header">
                <div>
                  <h3 class="card-title">
                    {{obra.obra}}
                  </h3>
                  <h5 class="card-subtitle">
                    {{obra.obra_id}}
                  </h5>
                </div>
              </div>
              <div class="card-body p-0">
                  <a href="/obra/{{obra.obra_id}}" class="stretched-link"></a>
                  <img src="{{obra.imagen.url}}" class="card-img-top" alt="{{obra.obra}}">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


<!--  
href 
{% url 'obras:obra' obra.obra_id obra.obra|slugify %}
-->