#completo {
    height: 1000px;
    max-width:100%;
    border:ridge 1px;
    margin: 0 auto;    
    border-radius: 5px;
}

#cuerpo_tabla {    
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    /*border:ridge 1px;    
    border-radius: 5px;*/
}

