/* Stylesheet */  
  
  .grid-container {
    display: grid;
    grid-template-columns: 20px auto ;
    grid-template-rows: auto 20px;
    grid-gap: 5px;
    margin: auto;
    justify-content: center;
    padding: 20px;
    width: 80vw;
    -ms-overflow-style: none;
    overflow-x: scroll;
  }
  .esq{
    display: flex;
    flex-flow: wrap-reverse;
  }
  .pisos{
    display: flex;
    flex-flow: wrap-reverse;
  }
  .vista-piso {
    padding: 1px;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
    width: 100%;
    aspect-ratio: auto 1 / 1.1;
    text-align: center;
    align-items: center;
  }

  .vista-piso .title {
    font: 500 10px "Poppins", sans-serif;
    margin: 0.3em 0 0;
  }

  .posicion{
    display: flex;
    flex-flow: wrap-reverse;
  }
  .vista-posicion {
    padding: 1px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .vista-posicion .title {
    font: 500 10px "Poppins", sans-serif;
    margin: 0.3em 0 0;
  }
  @media (max-width: 1200px) {
    .vista-posicion .title {
      font: 500 8px "Poppins", sans-serif;
      margin: 0.3em 0 0;
    }
  }
  @media (max-width: 920px) {
    .vista-posicion .title {
      font: 500 7px "Poppins", sans-serif;
      margin: 0.3em 0 0;
    }
  }

  .vista {
    display: flex;
    flex-flow: wrap-reverse;
  }
  .vista-modulo {
    padding: 1px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
    aspect-ratio: auto 1 / 1.1;
    cursor: pointer;
  }
  .vista-modulo .title {
    font: 400 4.5px "Poppins", sans-serif;
    color: transparent;
    margin: 0.3em 0 0;
    transition: 0.8s ease 600ms;
  }  
  .vista-modulo .desc {
    font: 400 4px"Poppins", sans-serif;
    color: transparent;
    margin-top: -0.2em;
  }
  
  .vista-modulo:hover {
    transform: scale(2.2);
    z-index: 15;
  }
  .vista-modulo:hover .vista-modulo-inner {
    background: transparent;
  }
  .vista-modulo:hover .title, .vista-modulo:hover {
    -webkit-text-fill-color: #222;
  }
  .vista-modulo:hover .desc, .vista-modulo:hover {
    -webkit-text-fill-color: #222;
  }
  .vista-modulo:hover::after {
    top: 105%;
    opacity: 1;
  }
  .fab {
    background: #f8f8f8;
    border: solid 1px #e7e7e7;
    border-radius: 3px;
  }
  .rec {
    background: #eaf5e6;
    border: solid 1px #c7d3c2;
    border-radius: 3px;
  }
  .mon {
    background: linear-gradient(to bottom right,#e5fac9 0%, #96b884 100%);
    border: solid 1px #819e72;
    border-radius: 3px;
  }
  .com {
    background: linear-gradient(to bottom right,#d4ff9c 0%, #739262 100%);
    border: solid 1px #708d61;
    border-radius: 3px;
  }
  .inc {
    background: #ecc6c6;
    border: solid 1px #da9595;
    border-radius: 3px;
  }

  .rep {
    background: #f9ffab;
    border: solid 1px #c9d152;
    border-radius: 3px;
  }
  .apt {
    background: #ffffff;
    border: solid 2px #c7d3c2;
    border-radius: 3px;
  }
  .sid {
    background: #f9ffab;
    border: solid 1px #c9d152;
    border-radius: 3px;
  }
  
  .vista-no-modulo {
    padding: 1px;
    position: relative;
    z-index: 1;
    cursor: default;
    aspect-ratio: auto 1 / 1.1;
  }
    /* 
  .posicion{
    display: grid;
    grid-gap: 1px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .vista {
    display: grid;
    display: flex;
    flex-flow: wrap-reverse;
    grid-gap: 1px;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
  }     
  
  .vista-piso {
    position: relative;
    justify-content: left;
    z-index: 1;
    padding: 6px;
    display: inline-block;
    background: #e2f5fa;
  }
    .vista-modulo {
    padding: 1px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
  }
    .vista-no-modulo {
    padding: 1px;
    position: relative;
    z-index: 1;
    cursor: default;
  }
  */ 